%h1
  Galleries#index
%table
  %thead
    %tr
      %td Name
      %td change IT
      %td delete it
  %tbody
  - @galleries.each do |gallery|
    %tr
      %td
        %a{href: "#{gallery_path(gallery)}"}
          = gallery.title 
      %td
        %a{href: "/media_library/galleries/#{gallery.id}/edit"} edit
      %td
        = link_to "DESTROY", "galleries/#{gallery.id}", method: :delete, confirm: "Are you sure?"

= link_to "Create a new gallery", new_gallery_path
